<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="/static/requests.js"> </script>
    <title>Meu primeiro Crud</title>
  </head>
  <body>
    <div class="form-group col-sm-6 mx-auto">
      {{ form.nome.label}}{{form.nome(class_="form-control") }}
      {{ form.sobrenome.label}}{{form.sobrenome(class_="form-control") }}
      {{ form.butt(class_="btn btn-dark form-control", onclick="get_users();post_user()") }}
      <h2>Usuários</h2>
   </div>
   <table id="Users" class="table table-striped table-dark">

   </table>
  </body>
</html>
